ol {
	list-style-type:decimal-leading-zero;
}

ul {
	font-weight: bold;				
}

ul li {
	display: inline;
    padding: 10px;
}
		
#current {
	text-shadow: 2px 2px #00FFFF;
}

footer {
	padding-left: 15px;
}